<div class="banner" >
  <div class="container">
    <h1>Movie lists</h1>
  </div>
</div>
<div class="container">
  <% @lists.each do |list| %>
    <div class="card-product">
      <%  if list.photo.attached?  %>
      <%= cl_image_tag list.photo.key, height: 300, width: 400, crop: :fill %>
      <%  end %>
      <div class="card-product-infos">
      <h2><%= link_to list.name, list %></h2>
      <p><%= link_to "-", list_path(list), method: :delete, data: { confirm: "Are you sure?" }, class: "card-remove-link" %></p>
      </div>
    </div>
  <% end %>
  </ul>

</div>
