.form {
  width: 600px;
  margin: auto;
  background-color: rgb(0, 255, 170);
  padding: 48px;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.5);
  font-weight: bold;
  color: blue;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: 100;
  background: linear-gradient(#fb16ef, #b100a2);
  transition: background 0.3s ease;
  border: 1px solid #ffffff;
  text-align: center;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

.form-input {
  font-size: 24px;
  height: 3.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border-radius: 4px;
  background: linear-gradient(#fb16ef, #b100a2);
  margin-bottom: 16px;
  margin-top: 48px;
  color: #ffffff;
  text-align: center;
}

.btn-link {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: 100;
  background: linear-gradient(#fb16ef, #b100a2);
  transition: background 0.3s ease;
  border: 1px solid #ffffff;
  margin: 48px;
  text-align: center;
}

.btn-link:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}
